.board-container {
  padding: 32px 16px;
  margin: 0px auto;
  max-width: 900px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 17%; /* The important bit. This percentage decides your columns.
     The percent can be px. It just represents your minimum starting width.
      */
  margin: 4px;
  background: lightgray;
  height: 80px;
  min-width: 100px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-controls-container {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  align-items: center;
}

.board-control {
  margin: 8px 4px;
}

@media (min-width: 486px) {
  .board-control-break {
    margin-left: auto;
  }
}

.board-control-score {
  font-size: 16px;
}

.card-count-red {
  color: red;
}

.card-count-blue {
  color: blue;
}
