<div
  *ngIf="
    {
      board: board$ | async,
      hasGameEnded: hasGameEnded$ | async,
      numberOfBlueCards: numberOfBlueCards$ | async,
      numberOfRedCards: numberOfRedCards$ | async
    } as data;
    else loading
  "
  class="board-container"
>
  <div *ngIf="!data.board" class="board-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="data.board">
    <h2>Board Name: {{ data?.board?.name }}</h2>
    <div class="board-controls-container">
      <span class="board-control board-control-score"
        >Score:
        <span class="card-count-red">{{ data.numberOfRedCards }}</span> -
        <span class="card-count-blue">{{ data.numberOfBlueCards }}</span>
      </span>
      <mat-chip-list class="board-control" cdkDropList>
        <mat-chip
          color="accent"
          [selected]="!isSpyMaster"
          (click)="changePlayer()"
        >
          Player
        </mat-chip>
        <mat-chip
          color="accent"
          [selected]="isSpyMaster"
          (click)="changeSpyMaster()"
        >
          Spy Master
        </mat-chip>
      </mat-chip-list>
      <button
        (click)="copy()"
        mat-raised-button
        color="primary"
        class="board-control board-control-break"
      >
        Share this board <mat-icon>content_copy</mat-icon>
      </button>

      <button
        class="board-control"
        (click)="newGame(data.board)"
        mat-raised-button
        color="warn"
      >
        New game
      </button>
    </div>
    <div
      *ngIf="data.board && data.board.cards && data.board.cards.length"
      class="row"
    >
      <div
        *ngFor="let card of data.board.cards"
        (click)="flipCard(data.board, card.value, data.hasGameEnded)"
        [style.background-color]="getBackgroundColor(card, data.hasGameEnded)"
        [style.color]="getColor(card, data.hasGameEnded)"
        class="col"
      >
        {{ card.value }}
      </div>
    </div>
  </div>
</div>

<div
  class="board-container"
  *ngIf="
    {
      redTeam: redTeam$ | async,
      blueTeam: blueTeam$ | async
    } as data;
    else loading
  "
>
  <h2>Red Team</h2>

  <div class="no-team-message" *ngIf="!data || !data.redTeam">
    <mat-spinner diameter="20"></mat-spinner>
  </div>
  <div
    class="no-team-message"
    *ngIf="data && data.redTeam && !data.redTeam.length"
  >
    The red team has no team members
  </div>
  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip
      *ngFor="let session of data.redTeam"
      selected
      class="mat-chip-red"
      (click)="changeTeam(session)"
    >
      {{ session.displayName }} {{ session.spy ? "(Spy Master)" : "" }}
      <mat-icon class="mat-icon-swap">swap_vert</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <h2>Blue Team</h2>
  <div class="no-team-message" *ngIf="!data || !data.blueTeam">
    <mat-spinner diameter="20"></mat-spinner>
  </div>
  <div
    class="no-team-message"
    *ngIf="data && data.blueTeam && !data.blueTeam.length"
  >
    The blue team has no team members
  </div>
  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip
      *ngFor="let session of data.blueTeam"
      selected
      class="mat-chip-blue"
      (click)="changeTeam(session)"
    >
      {{ session.displayName }} {{ session.spy ? "(Spy Master)" : "" }}
      <mat-icon class="mat-icon-swap">swap_vert</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<ng-template #loading> <mat-spinner></mat-spinner> </ng-template>
